
.deps
*.o

Makefile
Makefile.in

missing
stamp-h1
INSTALL
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.h.in~
config.log
config.status
configure.ac~
configure~
configure
depcomp
install-sh

lib/libzcmdsh.a
app/opensh

